<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>nomilog</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/category</url-pattern>
    <url-pattern>/category_create</url-pattern>
    <url-pattern>/logout</url-pattern>
    <url-pattern>/sakelog</url-pattern>
    <url-pattern>/sakelog_create</url-pattern>
    <url-pattern>/sakememo</url-pattern>
    <url-pattern>/sakememo_create</url-pattern>
    <url-pattern>/user_delete</url-pattern>
    <url-pattern>/user_delete_check</url-pattern>
    <url-pattern>/user_name_edit</url-pattern>
    <url-pattern>/user_pass_edit</url-pattern>
  </filter-mapping>
  
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/error/404.jsp</location>
  </error-page>
  
</web-app>